<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 基本的表格</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script type="text/javascript" src="jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-striped table-bordered table-hover">
	<caption>基本的表格布局</caption>
   <thead>
      <tr class="success">
         <th>名称</th>
         <th>城市</th>
         <th>省份</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>魔都</td>
         <td>上海</td>
         <td>----</td>
      </tr>
      <tr>
         <td>Sachin</td>
         <td>Mumbai</td>
         <td>----</td>
      </tr>
      <tr>
          <td>龙城</td>
          <td>常州</td>
          <td>江苏</td>
      </tr>
   </tbody>
</table>

</body>
</html>